.marginless-body {
	background-color: #455a64;
	margin: 0;
}

.content {
	background-color: #607d8b;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	padding-right: 15%;
}

.big-header {
	font-family: "Segoe UI","Noto Sans","Helvetica",non-serif;
	font-weight: 200;
	color: #ffffff;
	margin-top: 0;
	text-align: center;
}

.description {
	font-family: "Segoe UI","Noto Sans","Helvitca",non-serif;
	font-weight: 200;
	color: #ffffff;
	text-align: center;
}

.icon-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.icon-component {
	/* background-color: rgb(48, 48, 48); */
	border-radius: 1em;
	margin: 0px 2px 0px 2px;
	width: 130px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.circle {
	border-radius: 50%;
	height: 110px;
	width: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.2s;
}

.circle :hover {
	box-shadow: 2px 2px 5px 0px rgba(50,50,50,1);
}

.letter {
	box-shadow: none !important;
	font-family: "Segoe UI","Noto Sans","Helvetica",non-serif;
	font-size: 60px;
	color: #fff;
	align-self: center;
}

.margin-box {
	margin: 10px 0 0 0;
}

.caption-box {
	border-radius: 1em;
	
	width: 110px;
	height: 2em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.2s;
}

.caption-box :hover {
	/* box-shadow: 2px 2px 5px 0px rgba(50,50,50,1); */
}

.caption {
	box-shadow: none !important;
	font-family: "Segoe UI","Noto Sans","Helvetica",non-serif;
	color: #fff;
}

/* Colours */
.google {
	background-color: #4285f4;
}

.facebook {
	background-color: #46629e;
}

.outlook {
	background-color: #005da6;
}

.youtube {
	background-color: #ff0000;
}

.github {
	background-color: #24292e;
}